.info {
    max-width: 360px;
    margin: 0 auto;
    padding: 70px 0 30px;
}

.info .icon {
    color: #999999;
}

.info .icon > i {
    font-size: 4.4em;
}

.info .info-title {
    color: #3C4858;
    margin: 30px 0 15px;
}

.info p {
    color: #999999;
}

.info-horizontal .icon {
    float: left;
    margin-top: 24px;
    margin-right: 10px;
}

.info-horizontal .icon > i {
    font-size: 2.6em;
}

.info-horizontal .description {
    overflow: hidden;
}
